$darkblue:#345B63;
$lightGrey:rgb(204, 204, 204);
$black:#101010;
$transparentGrey: rgba(169, 169, 169, 0.4);
$transparentWhite:rgba(255, 255, 255, 0.1);
$white:#fff;
$orange:rgb(250, 175, 0);
$cairo: 'Cairo', sans-serif;


